<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >
    <!-- Permisos para leer librerías desde almacenamiento externo -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    <!-- Permisos para escribir logs en almacenamiento externo (necesario para Android 9 y anteriores) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <!-- Para Android 11+ (API 30+) si necesitas acceso completo a archivos -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:label="CGraphicsApp"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CompilerActivity"
            android:label="Compilador JNI"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".RenderActivity"
            android:label="Motor Gráfico"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:parentActivityName=".CompilerActivity" />

        <service 
            android:name=".RenderService"
            android:enabled="true"
            android:exported="false"
            android:process=":render_process"
        />
    </application>

</manifest>